.flex{
  display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    font-size: 18px;
}
.header{
    display: flex;
    justify-content: center;
}

.flex>li{
    list-style-type: none;
}
.link{
    text-decoration: none;
}